body {
	background:$color-background;
	color:$color-text;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:auto;
	width:80%;
}

h1, h2, h3 {
	font-weight:800;
}

a:link, a:visited {
	color:#2BA6CB;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}
